
{% extends "frontend/base.html.twig" %}
{% block title %}Evenement{% endblock %}
{% block body %}
{{ include('frontend/navbar.html.twig') }} 

<br>
<div class="container text-center "  id ="evenement"> 
        <em >le: {{event.event_date|date('d/m/Y')}}</em>
    <div class="row" id ="titre_event">      
        <h2 class="text-center mb-10" id = "titre">{{event.title}}</h2>
    </div>
    <br>
    <div class="row" id="descrip">
        <div class="col-lg-12 " id ="cont" ><p>{{event.states|raw}}</p>       
    </div> 
</div>
    <br>
    <div class ="container justify-content-center ">
        <div class ="row">
           <div class="col-lg-12 text-center ">
            <img class ="img-fluid"src ="{{event.image}}"> 
           <figcaption>{{event.legend}}</figcaption>
         </div>
        </div>
     </div>
</div>
<br>

{% endblock %}